@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia-Regular";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 970px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  height: 100vh;
  background-image: url("../image/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header__content {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #ffffff;
}

.header__title {
  font-family: "Georgia-Bold";
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header__slogan {
  font-family: "Georgia-Regular";
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -12px;
}

.header__slogan::before {
  content: "";
  width: 100%;
  border-top: 2px solid #ecb84c;
  margin-right: 30px;
}

.header__slogan::after {
  content: "";
  width: 100%;
  border-top: 2px solid #ecb84c;
  margin-left: 30px;
}

.menu {
  height: 63px;
}

.menu__list {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1d3d3;
}

.menu__list-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  padding: 0 20px 20px 20px;
  color: #909090;
}

.menu__list-link:hover {
  padding-bottom: 16px;
  border-bottom: 4px solid #ecb84c;
  color: #4e5665;
}

.info__inner {
  margin: 83px 0 80px 0;
}

.info__title {
  margin-bottom: 22px;
}

.info__link {
  display: block;
  font-weight: 700;
  color: #ecb84c;
  text-align: end;
  margin-bottom: 35px;
}

.info__link::after {
  content: "››";
  padding-left: 5px;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info__stats {
  height: 160px;
  text-align: center;
}

.info__stats-img {
  width: 94px;
  height: 80px;
}

.info__stats-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
  padding-top: 32px;
}

.info__stats-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.title {
  text-align: center;
  font-family: "Georgia-Regular";
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
}

.line {
  max-width: 1170px;
  margin: 0 auto;
  border-bottom: 1px solid #d0d4d896;
}

.about__inner {
  padding: 80px 0 121px;
}

.about__title {
  margin-bottom: 13px;
}

.about__text {
  margin-bottom: 72px;
}

.about-card__row {
  min-height: 428px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Выбирает каждый четный(even) элемент
   среди любой группы соседних элементов */
}

.about-card__row:nth-child(even) {
  background-position: left;
}

.about-card__row:nth-child(even) .about-card__row-inner {
  margin-left: auto;
}

.about-card__row:nth-child(even) .about-card__row-inner::before {
  content: "";
  border: none;
  border-top: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  left: auto;
  right: 19px;
}

.about-card__row:nth-child(even) .about-card__row-inner::after {
  content: "";
  border-right: none;
  border-left: 2px solid #ecb84c;
  left: 19px;
}

.about-card__row-inner {
  width: 470px;
  height: 289px;
  padding: 19px;
  background-color: #fff;
  position: relative;
}

.about-card__row-inner::before {
  content: "";
  width: 33px;
  height: 33px;
  border-top: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c;
  position: absolute;
  top: 19px;
  left: 19px;
}

.about-card__row-inner::after {
  content: "";
  width: 33px;
  height: 33px;
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  position: absolute;
  bottom: 19px;
  right: 19px;
}

.about-card__title {
  font-family: "Georgia-Regular";
  font-size: 24px;
  line-height: 25px;
  color: #4e5665;
  padding: 14px 20px;
}

.about-card__text {
  padding: 0 21px;
}

.car__images {
  margin: 111px 0 53px;
  position: relative;
}

.car__img {
  display: block;
  margin: 0 auto;
}

.car__dots {
  width: 884px;
  height: 381px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.car__dot {
  width: 32px;
  height: 32px;
  background: #ecb74ca4;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.car__dot:hover::after {
  display: block;
}

.car__dot:hover .car__dot-text {
  display: block;
}

.car__dot::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffd600;
  border-radius: 50%;
  display: inline-block;
  margin: 11px;
}

.car__dot::after {
  content: "";
  display: none;
  background-image: url("../image/content/car-line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  width: 244px;
  height: 158px;
  margin-top: -170px;
  margin-left: 22px;
}

.car__dot-01 {
  left: 0;
  top: 190px;
}

.car__dot-02 {
  left: 347px;
  top: 188px;
}

.car__dot-03 {
  left: 618px;
  top: 147px;
}

.car__dot-04 {
  left: 691px;
  top: 349px;
}

.car__dot-text {
  display: none;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  top: -147px;
  left: 145px;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 2px 5px;
  border-radius: 15px;
}

.car__text {
  margin-bottom: 81px;
}
