body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #505050;
}
@font-face {
    font-family: "Georgia-Bold";
    src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Georgia-Regular";
    src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// //адаптивное свойство
// $maxWidth: 1920;
// $maxWidthContainer: 1200;

// @mixin adaptiv-value($property, $startSize, $minSize, $type) {
//     $addSize: $startSize - $minSize;
//     @if $type==1 {
//         //только если меньше контейнера
//         #{$property}: $startSize + px;
//         @media (max-width: #{$maxWidthContainer + px}) {
//             #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
//         }
//     } @else if $type==2 {
//         //только если больше контейнера
//         #{$property}: $startSize + px;
//         @media (min-width: #{$maxWidthContainer + px}) {
//             #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
//         }
//     } @else {
//         //всегда
//         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
//     }
// }
.wrapper {
    //min-height: 100%;
    // width: 1440px;
    // width: 100%;
    // margin: 0 auto;
    // overflow: hidden;
}
.container {
    max-width: 970px;
    padding: 0 10px;
    margin: 0 auto;
}
//=====header=======
.header {
    &__inner {
        // width: 1440px;
        height: 100vh;
        background-image: url("../image/header/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px;
    }
    &__content {
        border: 2px solid #ecb84c;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #ffffff;
    }
    &__title {
        font-family: "Georgia-Bold";
        font-size: 200px;
        line-height: 227px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        margin: auto;
    }
    &__slogan {
        font-family: "Georgia-Regular";
        font-size: 24px;
        line-height: 27px;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        text-align: center;
        display: flex;
        white-space: nowrap;
        align-items: center;
        margin-bottom: -12px;
        &::before {
            content: "";
            width: 100%;
            border-top: 2px solid #ecb84c;
            margin-right: 30px;
        }
        &::after {
            content: "";
            width: 100%;
            border-top: 2px solid #ecb84c;
            margin-left: 30px;
        }
    }
}
//======menu========
.menu {
    &__list {
        padding-top: 24px;
        display: flex;
        justify-content: center;
        color: #f1d3d3;
    }
    &__list-item {
    }
    &__list-link {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.4;
        padding: 0 20px 20px 20px;
        color: #909090;

        &:hover {
            padding-bottom: 16px;
            border-bottom: 4px solid #ecb84c;
            color: #4e5665;
        }
    }
}
//======info========
.info {
    
    
    &__inner {
        margin: 83px 0 80px 0;
    }
    &__title {
        margin-bottom: 22px;
    }
    &__text {
    }
    &__link {
        display: block;
        font-weight: 700;
        color: #ecb84c;
        text-align: end;
        margin-bottom: 35px;
        &::after {
            content: "››";
            padding-left: 5px;
        }
    }
    &__body {
        display: flex;
        justify-content: space-around;
    }
    &__stats {
        height: 160px;
        text-align: center;
    }
    &__stats-img {
        width: 94px;
        height: 80px;
    }
    &__stats-number {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #4e5665;
        padding-top: 32px;
    }
    &__stats-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #909090;
    }
}
.title {
    text-align: center;
    font-family: "Georgia-Regular";
    font-size: 32px;
    line-height: 38px;
    color: #4e5665;
}
.text {
}
.line{
    max-width: 1170px;
    margin: 0 auto;
    border-bottom: 1px solid #d0d4d896;
}