@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia-Regular";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 970px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 467px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 340px;
  }
}

@media (max-width: 350px) {
  .container {
    max-width: 300px;
  }
}

.header__inner {
  height: 100vh;
  background-image: url("../image/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

@media (max-width: 992px) {
  .header__inner {
    padding: calc(16px + (40 - 16) * ((100vw - 320px) / (1200 - 320)));
  }
}

.header__content {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #ffffff;
}

@media (max-width: 400px) {
  .header__content {
    border: 2px solid #ecb84c;
  }
}

.header__title {
  font-family: "Georgia-Bold";
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

@media (max-width: 992px) {
  .header__title {
    font-size: calc(84px + (200 - 84) * ((100vw - 320px) / (1200 - 320)));
  }
}

.header__slogan {
  font-family: "Georgia-Regular";
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -13px;
}

@media (max-width: 767px) {
  .header__slogan {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media (max-width: 400px) {
  .header__slogan {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.header__slogan::before {
  content: "";
  width: 100%;
  border-top: 2px solid #ecb84c;
  margin-right: 30px;
}

@media (max-width: 400px) {
  .header__slogan::before {
    display: none;
  }
}

.header__slogan::after {
  content: "";
  width: 100%;
  border-top: 2px solid #ecb84c;
  margin-left: 30px;
}

@media (max-width: 400px) {
  .header__slogan::after {
    display: none;
  }
}

.menu {
  height: 63px;
}

@media (max-width: 992px) {
  .menu {
    height: 100%;
  }
}

.menu__list {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1d3d3;
}

@media (max-width: 992px) {
  .menu__list {
    display: block;
  }
}

@media (max-width: 992px) {
  .menu__list-item {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.menu__list-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  padding: 0 20px 20px 20px;
  color: #909090;
}

@media (max-width: 992px) {
  .menu__list-link {
    padding: 10px;
    border-bottom: 1px solid #ecb74c78;
    display: block;
    text-align: center;
  }
}

.menu__list-link:hover {
  padding-bottom: 16px;
  border-bottom: 4px solid #ecb84c;
  color: #4e5665;
}

.info__inner {
  margin: 83px 0 80px 0;
}

@media (max-width: 767px) {
  .info__inner {
    margin: 40px 0;
  }
}

@media (max-width: 480px) {
  .info__inner {
    margin-bottom: 0;
  }
}

.info__title {
  margin-bottom: 22px;
}

.info__link {
  display: block;
  font-weight: 700;
  color: #ecb84c;
  text-align: end;
  margin-bottom: 35px;
}

.info__link::after {
  content: "››";
  padding-left: 5px;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 480px) {
  .info__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.info__stats {
  height: 160px;
  text-align: center;
}

@media (max-width: 480px) {
  .info__stats {
    width: 50%;
    margin-bottom: 30px;
  }
}

.info__stats-img {
  width: 94px;
  height: 80px;
}

.info__stats-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
  padding-top: 32px;
}

@media (max-width: 480px) {
  .info__stats-number {
    padding-top: 20px;
  }
}

.info__stats-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.title {
  text-align: center;
  font-family: "Georgia-Regular";
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
}

@media (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .text {
    font-size: 14px;
  }
}

.line {
  max-width: 1170px;
  margin: 0 auto;
  border-bottom: 1px solid #d0d4d896;
}

.about__inner {
  padding: 80px 0 121px;
}

@media (max-width: 767px) {
  .about__inner {
    padding: 40px 0 50px;
  }
}

.about__title {
  margin-bottom: 13px;
}

.about__text {
  margin-bottom: 72px;
}

@media (max-width: 767px) {
  .about__text {
    margin-bottom: 30px;
  }
}

.about-card__row {
  min-height: 428px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Выбирает каждый четный(even) элемент
   среди любой группы соседних элементов */
}

@media (max-width: 767px) {
  .about-card__row {
    height: 700px;
    background-position: top;
    margin-bottom: 0px;
  }
}

.about-card__row:nth-child(even) {
  background-position: left;
}

@media (max-width: 767px) {
  .about-card__row:nth-child(even) {
    background-position: top;
  }
}

.about-card__row:nth-child(even) .about-card__row-inner {
  margin-left: auto;
}

.about-card__row:nth-child(even) .about-card__row-inner::before {
  content: "";
  border: none;
  border-top: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  left: auto;
  right: 19px;
}

@media (max-width: 480px) {
  .about-card__row:nth-child(even) .about-card__row-inner::before {
    right: 9px;
  }
}

.about-card__row:nth-child(even) .about-card__row-inner::after {
  content: "";
  border-right: none;
  border-left: 2px solid #ecb84c;
  left: 19px;
}

@media (max-width: 480px) {
  .about-card__row:nth-child(even) .about-card__row-inner::after {
    left: 9px;
  }
}

.about-card__row-inner {
  width: 470px;
  height: 289px;
  padding: 19px;
  background-color: #fff;
  position: relative;
}

@media (max-width: 992px) {
  .about-card__row-inner {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .about-card__row-inner {
    width: 100%;
    bottom: -175px;
  }
}

@media (max-width: 480px) {
  .about-card__row-inner {
    height: auto;
    padding: 9px;
  }
}

.about-card__row-inner::before {
  content: "";
  width: 33px;
  height: 33px;
  border-top: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c;
  position: absolute;
  top: 19px;
  left: 19px;
}

@media (max-width: 480px) {
  .about-card__row-inner::before {
    top: 9px;
    left: 9px;
  }
}

.about-card__row-inner::after {
  content: "";
  width: 33px;
  height: 33px;
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  position: absolute;
  bottom: 19px;
  right: 19px;
}

@media (max-width: 480px) {
  .about-card__row-inner::after {
    bottom: 9px;
    right: 9px;
  }
}

.about-card__title {
  font-family: "Georgia-Regular";
  font-size: 24px;
  line-height: 25px;
  color: #4e5665;
  padding: 14px 20px;
}

@media (max-width: 480px) {
  .about-card__title {
    padding: 10px 20px;
  }
}

.about-card__text {
  padding: 0 21px;
}

@media (max-width: 480px) {
  .about-card__text {
    padding-bottom: 10px;
  }
}

.car__images {
  margin: 111px 0 53px;
  position: relative;
}

@media (max-width: 1200px) {
  .car__images {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .car__images {
    margin: 50px 10px 25px;
  }
}

.car__img {
  display: block;
  margin: 0 auto;
}

.car__dots {
  width: 884px;
  height: 381px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 480px) {
  .car__dots {
    display: none;
  }
}

.car__dot {
  width: 32px;
  height: 32px;
  background: #ecb74ca4;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 480px) {
  .car__dot {
    display: none;
  }
}

.car__dot:hover::after {
  display: block;
}

.car__dot:hover .car__dot-text {
  display: block;
}

@media (max-width: 480px) {
  .car__dot:hover .car__dot-text {
    display: none;
  }
}

.car__dot::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffd600;
  border-radius: 50%;
  display: inline-block;
  margin: 11px;
}

.car__dot::after {
  content: "";
  display: none;
  background-image: url("../image/content/car-line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  width: 244px;
  height: 158px;
  margin-top: -170px;
  margin-left: 22px;
}

@media (max-width: 992px) {
  .car__dot::after {
    background-image: none;
  }
}

.car__dot-01 {
  left: 0;
  top: 190px;
}

@media (max-width: 1200px) {
  .car__dot-01 {
    left: calc(146px + (0 - 146) * ((100vw - 767px) / (1200 - 767)));
    top: calc(260px + (190 - 260) * ((100vw - 767px) / (1200 - 767)));
  }
}

.car__dot-02 {
  left: 347px;
  top: 188px;
}

@media (max-width: 1200px) {
  .car__dot-02 {
    top: calc(260px + (188 - 260) * ((100vw - 767px) / (1200 - 767)));
  }
}

.car__dot-03 {
  left: 618px;
  top: 147px;
}

@media (max-width: 1200px) {
  .car__dot-03 {
    top: calc(226px + (147 - 226) * ((100vw - 767px) / (1200 - 767)));
    left: calc(546px + (618 - 546) * ((100vw - 767px) / (1200 - 767)));
  }
}

.car__dot-04 {
  left: 691px;
  top: 349px;
}

@media (max-width: 1200px) {
  .car__dot-04 {
    top: calc(370px + (349 - 370) * ((100vw - 767px) / (1200 - 767)));
    left: calc(593px + (691 - 593) * ((100vw - 767px) / (1200 - 767)));
  }
}

.car__dot-text {
  display: none;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  top: -147px;
  left: 145px;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 2px 5px;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .car__dot-text {
    top: -41px;
    left: 0px;
  }
}

.car__text {
  margin-bottom: 81px;
}

@media (max-width: 480px) {
  .car__text {
    margin-bottom: 52px;
  }
}

.photo__title {
  margin-bottom: 42px;
}

@media (max-width: 480px) {
  .photo__title {
    margin-bottom: 30px;
  }
}

.photo__text {
  padding-bottom: 48px;
  border-bottom: 1px solid #d0d4d8;
  opacity: 0.5;
}

@media (max-width: 480px) {
  .photo__text {
    padding-bottom: 0;
  }
}

.slider {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  padding: 56px 0 81px;
  -webkit-filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

@media (max-width: 480px) {
  .slider {
    padding: 36px 0;
  }
}

.slider__item {
  padding: 0 20px;
}

@media (max-width: 480px) {
  .slider__item {
    padding: 0;
  }
}

.slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  background-color: transparent;
}

@media (max-width: 480px) {
  .slick-btn {
    width: 30px;
    height: 30px;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.footer__menu {
  margin: 56px 0 40px;
}

@media (max-width: 992px) {
  .footer__menu {
    margin: 20px 0;
  }
}

.footer__menu:first-child {
  margin-left: 104px;
}

@media (max-width: 992px) {
  .footer__menu:first-child {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .footer__menu:first-child {
    margin-left: 0;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__inner {
    display: block;
  }
}

.footer__menu-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #4e5665;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .footer__menu-title {
    margin-bottom: 10px;
  }
}

.footer__menu-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.footer__list-item {
  margin-bottom: 8px;
}

.footer__list-message::before {
  content: "";
  margin-right: 12px;
  vertical-align: -4px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../image/footer/sms.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.footer__list-facebook::before {
  content: "";
  margin-right: 12px;
  vertical-align: -4px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../image/footer/facebook.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.footer__list-instagram::before {
  content: "";
  margin-right: 12px;
  vertical-align: -4px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../image/footer/instagram.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.footer__list-youtube::before {
  content: "";
  margin-right: 12px;
  vertical-align: -4px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../image/footer/youtube.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.footer__list-email::before {
  content: "";
  margin-right: 12px;
  vertical-align: -4px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../image/footer/email.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 32px;
}
