body {
  font-family: "Lato-Regular";
  font-size: 16px;
  line-height: 28;
  color: #505050;
  height: 100%;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia-Regular";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 970px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  height: 100vh;
  background-image: url("../image/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header__content {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #ffffff;
}

.header__title {
  font-family: "Georgia-Bold";
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header__slogan {
  font-family: "Georgia-Regular";
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -12px;
}

.header__slogan::before {
  content: "";
  width: 100%;
  border-top: 2px solid #ecb84c;
  margin-right: 30px;
}

.header__slogan::after {
  content: "";
  width: 100%;
  border-top: 2px solid #ecb84c;
  margin-left: 30px;
}
